body {
    margin:0;
    padding:0;
    Background-color:#dbe2e9;
}
/*--------------------------------------------------------------
# dark mode
--------------------------------------------------------------*/
.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}
.bus{
	background:white;
	margin:15px;
	border-style:solid #ffa9d6 ; 
	padding-top:15px;
	padding-bottom:180px;
	background-attachment:fixed;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
  }
  
  .back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 14px;
	background: #4f09f3;
	color: rgb(255, 0, 0);
	transition: all 0.4s;
  }
  
  .back-to-top i:hover {
	background: #04f52c;
	color: #fff;
  }
  
.navbar{
    margin:10px;
}
.side-nav{
    height:40%;
    width:0;
    position:fixed;
    z-index:1;
    top:20px;
    left:20px;
    background-color:#fc3824;
    overflow-x:hidden ;
    padding-top:60px;
    transition:0.5s;
}
P {
    padding:10px;
}
.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
}
.side-nav .btn-close{
    position:absolute ;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
}
.side-nav a:hover{
    color:black;
    border-bottom:2px solid yellow;
}
.name{
	Align-content:center;
	Align-items:center ;
}
H1,h2{
    text-align:center;
    Text-Transform:uppercase;
}
.bg{
	width:100%;
	height:15%;
       Align-content:center;
}
B{
	float:left ;
	overflow:hidden ;
	position:relative ;
	height:100px;
}
.begin{
	text-align:center;
	font-family: sans-serif;
	font-size:15px;
	line-height:30px;
	white-space:nowrap ;
	position:relative ;
	top:0;
	left:0;
	-webkit-animation:move 15s ;
	-webkit-animation-iteration-count:infinite ;
	-webkit-animation-delay:0.1s ;
}

.abt{
	background-color:white;
	margin:15px;
	border-style:solid #ffa9d6 ; 
	padding-top:15px;
	font-family: 'EB Garamond', serif;
	text-align:justify;
	line-height:30px;
	padding-bottom:15px;
}
H1{    
	color:#26d07c;
	font-family: 'Days One', sans-serif;
}
.abt-img{
	width:90%;
	height:100%;
	Margin-left:5px ;
}
@keyframes move
{
	0%{top:0px;}
	20%{top:-50px;}
	40%{top:-100px;}
	60%{top:-150px;}
	80%{top:-200px;}
}
.numbers .rect{
	text-align:center ;
	position:relative ;
	z-index:1;
	background:white;
	width:17rem;
	height:12rem;
	padding-top:3.5vmin;
	margin:1rem;
	border-radius:.5em;
	box-shadow:1px 2px 50px 0px rgba(255,0,0,0.349);
}
.numbers .rect h1{
	font-size:5rem;
	color:tomato;
}
.posts{
	display:grid;
	grid-gap:20px;
	grid-template-column:repeat(autofit, minmax(250px,1fr));
	padding-top:15px;
	Align-items:center ;
	justify-content:center ;
	text-align:center ;
}
.image{
	width:90%;
	Margin :15px;
	margin-right:15px;
	padding:15px;
	box-shadow:2px 4px 5px black;
}
button {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #7E6EE6;
    color: #fff !important;
    border: none;
    border-radius: 2px;
    padding: 16px 40px;
    white-space: nowrap;
}
footer {
	width:100%;
  background: rgba(252, 252, 252, 0.815);
  overflow-x: hidden;
  padding: 10vmin 15vmin;
}
footer .column a {
  color: #dd2476;
  Font-size:40px;
  Align-items :center ;
  Align-content:center ;
  Text-align:center ;
  Margin-left:8px;
}
footer .column a+a {
  padding: 0 0.2em;
}
.hd{



  text-transform: uppercase;

  background: linear-gradient(to right, #5433ff, #20bdff, #a5fecb);

  background-size: auto auto;

  background-clip: border-box;

  background-size: 200% auto;

  color: #fff;

  background-clip: text;

  text-fill-color: transparent;

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  animation: clip 1.5s linear infinite;

}

@keyframes clip {

  to {

    background-position: 200% center;

  }

}
.desktop {
	
	display: none;
}

@media screen and (min-width: 700px) {
	body{
		align-items: center;
		text-align: center;
	}
	.bus,.abt {
	  display: none;
	 
	}
	.desktop{
	 display: inline;
	
	}
	.desktop img{
		width: 100%;
	}
  }
